{% load static %}
<div class="container-fluid m-4 d-flex flex-column align-items-center">
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{% static 'img/instalaciones.jpg' %}" class="img-fluid rounded-start" alt="..." style="width: 550px ;">
          </div>
          <div class="col-md-6 bg-light">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center fs-1">INSTALACIONES</h5>
              <p class="card-text text-center fs-7 fw-bold">Más de 600 m2 a tu disposición para tu rehabilitación deportiva en Castellana</p>
              <p class="card-text text-center"><small class="text-body-secondary">Creemos que para garantizar una recuperación rápida y eficiente el paciente debe sentirse cómodo y tener el espacio que necesita, por ello nos esforzamos tanto en cuidar nuestro lugar de trabajo.</small></p>
              <input type="submit" class="btn btn-success" value="VISITAR INSTALACIONES">
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 mt-2" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-6 bg-light">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center fs-1">MAQUINAS DE FISIOTERAPIA</h5>
              <p class="card-text text-center fs-7 fw-bold">Apostamos por la última tecnología</p>
              <p class="card-text text-center"><small class="text-body-secondary">La tecnología avanza a pasos agigantados y en Rekovery Clinic no nos quedamos al margen, apostamos continuamente por máquinas de vanguardia. Nuestros aparatos de fisioterapia optimizarán tu rehabilitación a un nivel máximo.</small></p>
              <input type="submit" class="btn btn-success" value="VER TODAS LAS MAQUINAS">
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/maquinaria.jpg' %}" class="img-fluid rounded-start" alt="..." style="width: 550px ;">
          </div>
        </div>
      </div>
</div>