{% load static %}
<div class="row bg-light justify-content-center">
        <div class="col-12 mt-4 w-50 bg-white p-4 shadow">
            <div class="row justify-content-center">
                <div class="col-6 border-light border-end">
                    <h5 class="text-center">¡Bienvenido a Kinesiologia Cita Online!</h5>
                    <p class="text-center">Introduce tu usuario y contraseña para reservar una cita con nosotros</p>
                    <p class="text-center">Para acceder con un usuario y contraseña no registrado no registrado haz click abajo</p>
                    <a href="" class="btn btn-success d-block">1° Consulta gratuita</a>
                </div>
                <div class="col-6">
                    <form action="" class="row">
                        <h3>Iniciar Sesion</h3>
                        <input type="text" class="form-control mt-2" placeholder="Nombre de usuario">
                        <input type="text" class="form-control mt-2" placeholder="Contraseña">
                        <button class="btn btn-submit btn-success align-items-center d-block">Acceder</button>
                        <div class="text-center mt-2">
                            <a href="" class="nav-link d-inline text-dark">¿Olvidaste tu registro?</a>
                            /
                            <a href="" class="nav-link d-inline text-dark">Nuevo registro</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>